# --- Helm ---
charts/**/charts/
*.tgz
values.secrets.*.yaml
overrides/rabbitmq/rabbitmq-secret.yaml
.cr-*
/ct_*

# --- Environment ---
.env

# --- IDE / OS ---
.idea/
.vscode/
*.iml
.project
.classpath
.settings/
.DS_Store
.deploy
.history
*.swp
*~

# --- Logs ---
*.log
