apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chart-libs.fullname" . }}
  labels:
    {{- include "chart-libs.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "chart-libs.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "chart-libs.labels" . | nindent 8 }}
          {{- with .Values.podLabels }}
          {{- toYaml . | nindent 8 }}
          {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "chart-libs.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        # Main Application Container (auditflow)
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            - name: SPRING_CONFIG_IMPORT
              value: "optional:file:/opt/application-config/application.yaml"
          {{- with .Values.env }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          envFrom:
            - configMapRef:
                name: {{ include "chart-libs.fullname" . }}
            - secretRef:
                name: {{ include "chart-libs.fullname" . }}
          volumeMounts:
            - name: config-additional-location
              mountPath: /opt/application-config
          {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
        {{- if eq .Values.applicationYaml.transformer.discovery.mode "local" }}
        # AuditFlow Transformer Sidecar Container
        - name: auditflow-transformer
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.transformer.image.repository }}:{{ .Values.transformer.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.transformer.image.pullPolicy }}
          ports:
            - name: http-trn
              containerPort: {{ .Values.transformer.service.port }}
              protocol: TCP
          env:
            - name: APP_NAME
              value: "auditflow-transformer"
            - name: HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          {{- with .Values.transformer.livenessProbe }}
          livenessProbe:
            httpGet:
              path: /docs
              port: {{ .Values.transformer.service.port }}
            {{- toYaml (omit . "httpGet") | nindent 12 }}
          {{- end }}
          {{- with .Values.transformer.readinessProbe }}
          readinessProbe:
            httpGet:
              path: /docs
              port: {{ .Values.transformer.service.port }}
            {{- toYaml (omit . "httpGet") | nindent 12 }}
          {{- end }}
        {{- end }}
        {{- if eq .Values.applicationYaml.sink.discovery.mode "local" }}
        # AuditFlow Sink Sidecar Container
        - name: auditflow-sink
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.sink.image.repository }}:{{ .Values.sink.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.sink.image.pullPolicy }}
          ports:
            - name: http-trn
              containerPort: {{ .Values.sink.service.port }}
              protocol: TCP
          env:
            - name: APP_NAME
              value: "auditflow-sink"
            - name: HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          {{- with .Values.sink.livenessProbe }}
          livenessProbe:
            httpGet:
              path: /docs
              port: {{ .Values.sink.service.port }}
            {{- toYaml (omit . "httpGet") | nindent 12 }}
          {{- end }}
          {{- with .Values.sink.readinessProbe }}
          readinessProbe:
            httpGet:
              path: /docs
              port: {{ .Values.sink.service.port }}
            {{- toYaml (omit . "httpGet") | nindent 12 }}
          {{- end }}
        {{- end }}
      volumes:
        - name: config-additional-location
          configMap:
            name: {{ include "chart-libs.fullname" . }}-app-ext
      {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
