secrets:
  data:
    AWS_ACCESS_KEY_ID: "mock-aws-access-key-id"
    AWS_SECRET_ACCESS_KEY: "mock-aws-secret-access-key"
    GRAFANA_PASSWORD: "mock-grafana-password"
    SPRING_RABBITMQ_USERNAME: "labs64"
    SPRING_RABBITMQ_PASSWORD: "labs64pw"
