image:
  repository: localhost:5005/auditflow
  tag: latest

transformer:
  image:
    repository: localhost:5005/auditflow-transformer
    tag: latest

resources:
  #limits:
  #  cpu: 200m
  #  memory: 512Mi
  requests:
    cpu: 100m
    memory: 512Mi

volumes:
 - name: opensearch-truststore
   secret:
     secretName: opensearch-truststore-secret
     items:
       - key: truststore.jks
         path: truststore.jks
 - name: boostrapped-transformers
   persistentVolumeClaim:
     claimName: auditflow-transformer-pvc # points to AWS S3 / EFS

volumeMounts:
 - name: opensearch-truststore
   mountPath: /etc/auditflow/certs
   readOnly: true
 - name: boostrapped-transformers
   mountPath: /transformers_bootstrap
   readOnly: true

env:
  - name: JAVA_OPTS
    value: "-Djavax.net.ssl.trustStore=/etc/auditflow/certs/truststore.jks -Djavax.net.ssl.trustStorePassword=changeit"

applicationYaml:
  transformer:
    discovery:
      mode: local # "local" or "kubernetes"
    local:
      url: "http://localhost:8081"
    service:
      name: auditflow-transformer
      namespace: default

  sink:
    discovery:
      mode: local # "local" or "kubernetes"
    local:
      url: "http://localhost:8082"
    service:
      name: auditflow-sink
      namespace: default

  pipelines:
    - name: 'logs'
      enabled: true
      transformer:
        name: 'zero'
      sink:
        name: 'logging_sink'
        properties:
          log-level: "DEBUG"
          format: "json"
    - name: 'opensearch-raw'
      enabled: false
      transformer:
        name: 'zero'
      sink:
        name: 'opensearch_sink'
        properties:
          service-url: "https://opensearch-cluster-master.tools.svc.cluster.local:9200"
          service-path: "/auditflow_raw_index/_doc"
          username: "admin"
          password: "Labs64pw+"
          verify-ssl: "false"
    - name: 'opensearch-transformed'
      enabled: false
      transformer:
        name: 'audit_opensearch'
      sink:
        name: 'opensearch_sink'
        properties:
          service-url: "https://opensearch-cluster-master.tools.svc.cluster.local:9200"
          service-path: "/auditflow_index/_doc"
          username: "admin"
          password: "Labs64pw+"
          verify-ssl: "false"
    - name: 'loki'
      enabled: true
      transformer:
        name: 'audit_loki'
      sink:
        name: 'loki_sink'
        properties:
          service-url: "https://logs-prod-012.grafana.net"
          service-path: "/loki/api/v1/push"
          username: "1314691"

  spring:
    rabbitmq:
      host: rabbitmq.tools.svc.cluster.local
      port: 5672
      username: labs64
      password: labs64pw
