image:
  repository: localhost:5005/auditflow
  tag: latest

transformer:
  image:
    repository: localhost:5005/auditflow-transformer
    tag: latest

sink:
  image:
    repository: localhost:5005/auditflow-sink
    tag: latest

resources:
  #limits:
  #  cpu: 200m
  #  memory: 512Mi
  requests:
    cpu: 100m
    memory: 512Mi

volumes: []
 #- name: boostrapped-transformers
 #  persistentVolumeClaim:
 #    claimName: auditflow-transformer-pvc # points to AWS S3 / EFS

volumeMounts: []
 #- name: boostrapped-transformers
 #  mountPath: /transformers_bootstrap
 #  readOnly: true

env:
  - name: JAVA_OPTS
    value: "-Djavax.net.ssl.trustStore=/etc/auditflow/certs/truststore.jks -Djavax.net.ssl.trustStorePassword=changeit"

applicationYaml:
  transformer:
    discovery:
      mode: local # "local" or "kubernetes"
    local:
      url: "http://localhost:8081"
    service:
      name: auditflow-transformer
      namespace: default

  sink:
    discovery:
      mode: local # "local" or "kubernetes"
    local:
      url: "http://localhost:8082"
    service:
      name: auditflow-sink
      namespace: default

  pipelines:
    - name: 'logs'
      enabled: true
      transformer:
        name: 'zero'
      sink:
        name: 'logging_sink'
        properties:
          log-level: "DEBUG"
          format: "json"
    - name: 'aws_s3'
      enabled: true
      transformer:
        name: 'zero'
      sink:
        name: 'aws_s3_sink'
        properties:
          access-key-id: ""
          secret-access-key: ""
          bucket: "labs64-io-dev-01"
          region: "us-east-1"
          compress: "false"
          partition-by-date: "true"
          partition-format: "year=%Y/month=%m/day=%d/"
          file-format: "json"
    - name: 'loki'
      enabled: true
      transformer:
        name: 'audit_loki'
      sink:
        name: 'loki_sink'
        properties:
          service-url: "https://logs-prod-012.grafana.net"
          service-path: "/loki/api/v1/push"
          username: "1314691"

  spring:
    rabbitmq:
      host: rabbitmq.tools.svc.cluster.local
      port: 5672
      username: labs64
      password: labs64pw
