ingressroute:
  routes:
    # -- Map Swagger UI to the root path
    - path: /swagger-ui
      service:
        name: labs64io-gateway
        port: 8080
      middlewares:
        - name: path-stripper-middleware
    # -- Map AuditFlow API
    - path: /api/v1/audit
      service:
        name: labs64io-auditflow
        port: 8080
      middlewares:
        - name: ratelimit-middleware
    # -- Map AuditFlow API docs
    - path: /auditflow/v3/api-docs
      service:
        name: labs64io-auditflow
        port: 8080
      middlewares:
        - name: path-stripper-middleware
    # -- Map Checkout API
    - path: /api/v1/cart
      service:
        name: labs64io-checkout
        port: 8080
      middlewares:
        - name: ratelimit-middleware
    # -- Map Checkout API docs
    - path: /checkout/v3/api-docs
      service:
        name: labs64io-checkout
        port: 8080
      middlewares:
        - name: path-stripper-middleware
  middlewares:
    - name: path-stripper-middleware
      spec:
        stripPrefix:
          prefixes:
            - /swagger-ui
            - /auditflow
            - /checkout
    - name: auth-middleware
      spec:
        forwardAuth:
          address: "http://labs64io-traefik-authproxy.labs64io.svc.cluster.local:8081/auth"
          trustForwardHeader: true
          authResponseHeaders:
            - "X-User-Id"
            - "X-Roles"
    - name: ratelimit-middleware
      spec:
        rateLimit:
          average: 1
          burst: 1

swaggerUI:
  urls:
    - url: http://gateway.localhost/auditflow/v3/api-docs
      name: AuditFlow API
    - url: http://gateway.localhost/checkout/v3/api-docs
      name: Checkout API
